In [27]:
# Dependencies and Setup
#import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#import requests
#import gmaps
import os
#import json

In [48]:
#location = "Atlanta_crimedata/COBRA-YTD2017.csv"
location = "Atlanta_crimedata/COBRA-2009-2019.csv"
crimes_df = pd.read_csv(location)
crimes_df.info()

/Users/luminda/opt/anaconda3/envs/pythondata/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3,11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342914 entries, 0 to 342913
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Report Number            342914 non-null  int64
 1   Report Date              342914 non-null  object
 2   Occur Date               342914 non-null  object
 3   Occur Time               342914 non-null  object
 4   Possible Date            342896 non-null  object
 5   Possible Time            342895 non-null  float64
 6   Beat                     342890 non-null  float64
 7   Apartment Office Prefix  10094 non-null   object
 8   Apartment Number         68274 non-null   object
 9   Location                 342912 non-null  object
 10  Shift Occurence          342914 non-null  object
 11  Location Type            333698 non-null  object
 12  UCR Literal              342914 non-null  object
 13  UCR #                    342914 non-null  int64
 14  IBR Code                 342744 non-null  object
 15  Neighborhood             330551 non-null  object
 16  NPU                      342775 non-null  object
 17  Latitude                 342914 non-null  float64
 18  Longitude                342914 non-null  float64
dtypes: float64(4), int64(2), object(13)
memory usage: 49.7+ MB

In [49]:
crimes_df.head()

,Report Number,Report Date,Occur Date,Occur Time,Possible Date,Possible Time,Beat,Apartment Office Prefix,Apartment Number,Location,Shift Occurence,Location Type,UCR Literal,UCR #,IBR Code,Neighborhood,NPU,Latitude,Longitude
0,90010930,2009-01-01,2009-01-01,1145,2009-01-01,1148.0,411.0,NaN,NaN,2841 GREENBRIAR PKWY,Day Watch,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68845,-84.49328
1,90011083,2009-01-01,2009-01-01,1330,2009-01-01,1330.0,511.0,NaN,NaN,12 BROAD ST SW,Day Watch,9,LARCENY-NON VEHICLE,630,2303,Downtown,M,33.75320,-84.39201
2,90011208,2009-01-01,2009-01-01,1500,2009-01-01,1520.0,407.0,NaN,NaN,3500 MARTIN L KING JR DR SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Adamsville,H,33.75735,-84.50282
3,90011218,2009-01-01,2009-01-01,1450,2009-01-01,1510.0,210.0,NaN,NaN,3393 PEACHTREE RD NE,Evening Watch,8,LARCENY-NON VEHICLE,630,2303,Lenox,B,33.84676,-84.36212
4,90011289,2009-01-01,2009-01-01,1600,2009-01-01,1700.0,411.0,NaN,NaN,2841 GREENBRIAR PKWY SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68677,-84.49773

In [50]:
len(crimes_df["Report Number"].unique())

342609

In [79]:
#removing unnecessary columns
crimes1_df = crimes_df.drop(["Report Date","Possible Date","Possible Time",
                                   "Beat","Apartment Office Prefix","Apartment Number",
                                   "Shift Occurence","Location Type","IBR Code","NPU"],axis=1)

crimes1_df

,Report Number,Occur Date,Occur Time,Location,UCR Literal,UCR #,Neighborhood,Latitude,Longitude
0,90010930,2009-01-01,1145,2841 GREENBRIAR PKWY,LARCENY-NON VEHICLE,630,Greenbriar,33.68845,-84.49328
1,90011083,2009-01-01,1330,12 BROAD ST SW,LARCENY-NON VEHICLE,630,Downtown,33.75320,-84.39201
2,90011208,2009-01-01,1500,3500 MARTIN L KING JR DR SW,LARCENY-NON VEHICLE,630,Adamsville,33.75735,-84.50282
3,90011218,2009-01-01,1450,3393 PEACHTREE RD NE,LARCENY-NON VEHICLE,630,Lenox,33.84676,-84.36212
4,90011289,2009-01-01,1600,2841 GREENBRIAR PKWY SW,LARCENY-NON VEHICLE,630,Greenbriar,33.68677,-84.49773
...,...,...,...,...,...,...,...,...,...
342909,193652089,2019-12-31,2030,1385 SHARON ST NW,AGG ASSAULT,420,Hunter Hills,33.75486,-84.43287
342910,193650336,2019-12-31,432,262 PHARR RD NE,AGG ASSAULT,410,Buckhead Village,33.83732,-84.37860
342911,193650603,2019-12-31,920,689 CASCADE AVE SW,AGG ASSAULT,410,Westview,33.73636,-84.43680
342912,193651760,2019-12-31,1853,763 CASCADE AVE SW,AGG ASSAULT,410,Westview,33.73483,-84.43750
342913,193652591,2019-12-31,2045,237 PEYTON PL SW,AGG ASSAULT,410,Cascade Avenue/Road,33.72518,-84.45013

In [80]:
crimes1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342914 entries, 0 to 342913
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Report Number  342914 non-null  int64
 1   Occur Date     342914 non-null  object
 2   Occur Time     342914 non-null  object
 3   Location       342912 non-null  object
 4   UCR Literal    342914 non-null  object
 5   UCR #          342914 non-null  int64
 6   Neighborhood   330551 non-null  object
 7   Latitude       342914 non-null  float64
 8   Longitude      342914 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 23.5+ MB

In [83]:
#deleting the rows with null values
cleaned_crimes_df=crimes1_df.dropna(axis=0,how='any')
cleaned_crimes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 330549 entries, 0 to 342913
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Report Number  330549 non-null  int64
 1   Occur Date     330549 non-null  object
 2   Occur Time     330549 non-null  object
 3   Location       330549 non-null  object
 4   UCR Literal    330549 non-null  object
 5   UCR #          330549 non-null  int64
 6   Neighborhood   330549 non-null  object
 7   Latitude       330549 non-null  float64
 8   Longitude      330549 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 25.2+ MB