In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
from scipy.stats import linregress
import os

In [2]:
#Dictionary of Median income per neighborhood
income_dict = {"Paces": 166.6,
              "Brookwood Hills": 148.6,
              "North Buckhead": 128.3,
              "Morningside/Lenox Park": 127.4,
              "Lake Claire": 111.9,
              "Virginia Highland": 93.7,
              "Oakhurst": 92.8,
               "Candler Park": 92.4,
               "Grant Park": 90.9,
               "Ormewood Park": 87.2,
               "Inman Park": 84.3,
               "Peachtree Hills": 83.1,
               "Pine Hills": 80.9,
               "Garden Hills": 79.1,
               "Midtown": 77.6,
               "Bolton": 76.4,
               "Peachtree Heights West": 74.1,
               "Knight Park/Howell Station": 69.7,
               "Kirkwood": 69.1,
               "Underwood Hills": 67.9,
               "East Atlanta": 64.8,
               "Atlanta Area": 59.2,
               "Fulton": 58.9,
               "Linridge/Martin Manor": 58.7,
               "Lindbergh": 57.5,
               "United States": 55.3,
               "South Atlantic": 52.9,
               "Home Park": 52.0,
               "South": 51.2,
               "Georgia": 51.0,
               "Atlanta": 49.4,
               "Downtown": 45.1,
               "Chosewood Park": 41.7,
               "Old Fourth Ward": 38.9,
               "Edgewood": 38.6,
               "West View": 34.9,
               "Venetian Hills": 31.3,
               "Southwest": 30.0,
               "Glenrose Heights": 29.6,
               "Georgia Tech": 28.8,
               "Grove Park": 28.2,
               "Center Hill": 27.7,
               "West End": 27.6,
               "Atlanta University Center": 27.3,
               "Collier Heights": 26.6,
               "Peoplestown": 26.4,
               "Vine City": 25.6,
               "Sylvan Hills": 25.4,
               "Pittsburgh": 22.3,
               "Greenbriar": 21.8,
               "Fairburn Mays": 21.7,
               "English Ave": 21.4,
               "Oakland City": 20.4,
               "Hammond Park": 20.1,
               "Mechanicsvills": 18.3,
               "Campbellton Road": 14.6,
               "Thomasville Heights": 12.2
              }

In [5]:
#Dataframe of emdian income er neighborhood
income_df = pd.DataFrame(list(income_dict.items()), columns = ["Neighborhood", "Median Income (K)"])
income_df.head()

             Neighborhood  Median Income (K)
0                   Paces              166.6
1         Brookwood Hills              148.6
2          North Buckhead              128.3
3  Morningside/Lenox Park              127.4
4             Lake Claire              111.9